/* Estilos globales */

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html{
    font-size: 100%;
    scroll-behavior: smooth;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat/Montserrat-VariableFont_wght.woff2') format('woff2');
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat/Montserrat-Italic-VariableFont_wght.woff2') format('woff2');
  font-weight: 400 700;
  font-style: italic;
  font-display: swap;
}


:root {
  --color-blue-light: #99C4D5;
  --color-darkblue: #240772;
  --color-darktourquise: #007690;
  --color-gray: #65646A;
  --color-light: #FFFFFF;
  --color-light-dark: #F6F5F5;
  --color-magenta: #CE3061;
  --color-marino: #232A34;
  --color-orange: #FF7174;
  --color-purple: #916C96;
  --color-texto-dark: #2C3F44;
  --color-turquoise: #5C99B0;
  --color-yellow: #FDC741;
  --color-yellow-poor: #FFF9EC;

  --font-family-body: 'Montserrat', sans-serif;
  --font-family-heading: 'Montserrat', sans-serif;
  --font-family-accent: 'Montserrat', sans-serif;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

body {
 background: var(--color-light);
 color: var(--color-gray);
 -webkit-font-smoothing: antialiased;
}

body, input, button {
 font-size: 1rem;
 font-family: var(--font-family-body);
}

button {
 cursor: pointer;
}